<h1>Users </h1>


<table class='table table-hover'>
  <thead>
    <tr>
      <th scope='col'>Id</th>
      <th scope='col'>Name</th>
      <th scope='col'>Email</th>
      <th scope='col'>Admin Status</th>
    </tr>
  </thead>
    <%= render partial: 'users', collection: @users %>
</table>

<br>

<%= link_to 'Invite New User' , new_user_invitation_path %>

