<h2> Name: </h2>
<p><%= @user.name %> </p>

<h2> Email </h2>
<p><%= @user.email %> </p>

<p><strong>Admin:  </strong><%= @user.status? %> </p>




<% if current_user.id == @user.id %>
    <%= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>


<a href="javascript:history.back()">Back</a>