<h1><%= @user.name %></h1>
<p>
  <strong>Admin:</strong>
  <%= @user.role %>
</p>
<h2>Name</h2>
<p>
  <%= @user.name %> 
</p>
<% if current_user.id == @user.id %>
  <%= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>
<a href='javascript:history.back()'>Back</a>