<h1>Welcome to Billing & Recurring Payment System v2.0 </h1>
<p>You need Login to Access Admin Dashboard </p>



<nav>
    <%= link_to 'Users', users_path %> |
    <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %> |
        <%= link_to 'Profile', user_path(current_user.id) %>
        
    <% else %>
        <%= link_to 'Sign up', new_user_registration_path %> 
    <% end %>
</nav>